.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

input {
    outline: 0;
    border-width:0 0 2px;
    border-bottom: 1px solid  #ada1a1;
}
  input:focus {
    border-bottom: 2px solid rgb(7, 218, 255);
  }
  ::placeholder:hover {
    color:rgb(61, 199, 199);
  }
::placeholder{
  text-align:center;
}

  textarea {
    outline: 0;
    border-width:0 0 2px;
    border-bottom: 1px solid #ada1a1;
}
  textarea:focus {
    border-bottom: 2px solid rgb(7, 218, 255);
  }


body{
    width:100%;
    background-color:#F4FCFC;
}

.navbar {
  background-color:#FFFFFF;
}

.navbar .navbar-toggler {
  box-shadow: 2px 3px 3px 3px rgba(3,3,0,.3);
}

.navbar-light span.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='blue ' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
color:rgb(17, 160, 255)  ;
}
.navbar  .navbar-toggler:hover {
  background-color:#41ADE3;
}
.navbar-brand img {
margin-left:105px;
}
.navbar .nav-item #navbarDropdownMenuLink {
color:black;
}
.navbar-brand img {
margin-left:105px;
}

.navbar .nav-item #navbarDropdownMenuLink {
  color:black;
  }
  .navbar-brand img {
  margin-left:105px;
  }
  @media (max-width:900px) {
  .navbar-brand img {
    margin-left:0px;
  }
  }

  @media (max-width:1000px) {

  .navbar  #navbarNav {
    background-color:#CEE4EF;
    border-radius:5px;
  }
}
.footer {
  padding-top:25px;
  padding-bottom: -5px;
  color:rgb(0, 0, 0);
  text-align:center;
  background-color: #e1f6fc;
  width: 100%;
  margin-top: 10px;
}
.footer  :hover{
  color: #3498db;
}
.social-icon{
  margin-left:-35px;
}
@media(min-width:768px){
  .social-icon{
    margin-left:-47px;
  }
}
.social-icon ul{
  position:relative;
  display:inline-flex;

  }
  .social-icon ul li{
  list-style:none;
  margin:0px 15px;

  }
  .social-icon ul li .fa{
  font-size:20px;
  line-height: 43px;
  transition: -6s;

  }
  .social-icon ul li .fa:hover{
  color:#fff;
  }
  .social-icon ul li a{
  position:relative;
  background-color: rgb(188, 239, 255);
  color: black;
  display:block;
  height:40px;
  width:40px;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 3px 3px 3px rgba(146, 146, 139, 0.9);
  }
  .social-icon ul li a:hover{
  transform: translateY(-8px);
  background-color: rgb(70, 157, 230);
    color:#fff;
  }
  .icon .fa {
    font-size:30px;
    color:#000000;
    }
  a:hover{
    text-decoration:none;
  }

@media (max-width:900px){
 .ex {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.ex:hover {
  background-color: RoyalBlue;
}
  }

